.section-heading p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #b2b2b2;
}


figcaption {
  font-style: italic;
  font-size: 0.75rem;
  padding: 2px;
  text-align: right;
}

.dark a,
h3.article-title a:hover {
  color: #acb0ab;
}

a,
h3.article-title a:hover {
  color: #7b8279;
}

.featured-image {
  border: 0.1rem solid #8e948d;
  border-radius: 2%;
}

.article-header-caption {
  padding: 2px 8px;
  bottom: 0.1rem;
  right: 0.1rem;
  border-radius: 10px 10px 10px 10px;
}
